<nav id="navbar" class="pure-menu pure-menu-horizontal pure-menu-scrollable">
    <a href="{{ site.Home.RelPermalink }}" class="pure-menu-heading">{{ site.Title | default site.Params.title }}</a>
    <ul class="pure-menu-list">
        {{- with site.Menus.main }}
        {{- range . }}
        <li class="pure-menu-item">
            <a href="{{ .URL }}" class="pure-menu-link"{{ if and (ne .URL "/") (hasPrefix $.RelPermalink (.URL | relURL)) }} aria-current="page"{{ end }}>
                {{- with .Params.icon }}{{ partial "icon.html" . }} {{ end }}{{ .Name -}}
            </a>
        </li>
        {{- end }}
        {{- else }}
        {{- $posts := index site.MainSections 0 | default "posts" }}
        <li class="pure-menu-item">
            <a href="{{ printf "%s/" $posts | relURL }}" class="pure-menu-link"{{ if hasPrefix $.RelPermalink (printf "%s/" $posts | relURL) }} aria-current="page"{{ end }}>{{ partial "icon.html" "box-archive" }} Articles</a>
        </li>
        <li class="pure-menu-item">
            <a href="{{ "tags/" | relURL }}" class="pure-menu-link"{{ if hasPrefix $.RelPermalink ("tags/" | relURL) }} aria-current="page"{{ end }}>{{ partial "icon.html" "comments" }} Categories</a>
        </li>
        <li class="pure-menu-item">
            <a href="{{ "about/" | relURL }}" class="pure-menu-link"{{ if hasPrefix $.RelPermalink ("about/" | relURL) }} aria-current="page"{{ end }}>{{ partial "icon.html" "face-smile" }} About</a>
        </li>
        {{- end }}
    </ul>
    <ul class="pure-menu-list pull-right">
        {{- with partial "custom_menu.html" . | strings.TrimSpace }}
        <li class="pure-menu-item">{{ . }}</li>
        {{- end }}

        {{- /* [config key, label, icon]; order here is the display order */}}
        {{- $networks := slice
            (slice "mastodon" "Mastodon" "mastodon")
            (slice "bluesky" "Bluesky" "bluesky")
            (slice "github" "GitHub" "github")
            (slice "twitter" "X (Twitter)" "x-twitter")
            (slice "linkedin" "LinkedIn" "linkedin")
            (slice "medium" "Medium" "medium")
            (slice "facebook" "Facebook" "facebook")
            (slice "email" "Email" "envelope")
        }}
        {{- range $networks }}
        {{- $key := index . 0 }}{{ $label := index . 1 }}{{ $icon := index . 2 }}
        {{- with index (site.Params.social | default dict) $key }}
        <li class="pure-menu-item">
            <a href="{{ . }}" title="{{ $label }}" class="pure-menu-link" {{- if eq $key "mastodon" }} rel="me"{{ end }}>
                {{ partial "icon.html" $icon }}
                <span class="hide">{{ $label }}</span>
            </a>
        </li>
        {{- end }}
        {{- end }}

        {{- with site.Home.OutputFormats.Get "rss" }}
        <li class="pure-menu-item">
            <a href="{{ .RelPermalink }}" title="RSS Feed" class="pure-menu-link">
                {{ partial "icon.html" "square-rss" }}
                <span class="hide">RSS Feed</span>
            </a>
        </li>
        {{- end }}

        {{- if ne site.Params.themeToggle false }}
        <li class="pure-menu-item">
            <button type="button" id="theme-toggle" class="pure-menu-link theme-toggle" aria-label="Toggle dark mode" title="Toggle dark mode">
                {{ partial "icon.html" (dict "name" "moon" "class" "icon-moon") }}
                {{ partial "icon.html" (dict "name" "sun" "class" "icon-sun") }}
            </button>
        </li>
        {{- end }}
    </ul>
</nav>
<div class="pure-u-1">
    <div class="pad">
    </div>
</div>
