<!-- SIDEBAR -->
<aside id="sidebar" class="pure-u-1 pure-u-md-1-4 pure-u-sm-1">
    <div class="pad">
        <h3 id="about">About Me</h3>
        <div style="text-align: center;">
            {{- with site.Params.authorImgPath }}
            <img src="{{ strings.TrimPrefix "/" . | relURL }}" alt="{{ site.Params.author }}" class="pure-img">
            {{- end }}
            <p><em>{{ site.Params.authorBlurb | markdownify }}</em></p>
        </div>

        <h3>Latest Articles</h3>
        <div class="pure-menu">
            <ul class="pure-menu-list">
                {{- range first 10 (where site.RegularPages "Type" "in" site.MainSections) }}
                <li class="pure-menu-item">
                    <a href="{{ .RelPermalink }}" class="pure-menu-link">{{ .Title }}
                        {{- with .Description }}<br><small>{{ . }}</small>{{ end }}
                    </a>
                </li>
                {{- end }}
            </ul>
        </div>

        {{- with site.Taxonomies.tags }}
        <h3>Categories</h3>
        <div style="text-align:center" class="tags">
            {{- $min := site.Params.sidebarTagMinCount | default 2 }}
            {{- range .ByCount }}
            {{- if ge .Count $min }}
            <a href="{{ .Page.RelPermalink }}" class="pure-button">{{ .Page.LinkTitle }} <small>({{ .Count }})</small></a>
            {{- end }}
            {{- end }}
        </div>
        {{- end }}
    </div> <!-- pad -->
</aside> <!-- sidebar -->
