{{ define "main" }}
<!-- CONTENT -->
<div class="pure-u-1">
    <h1 style="text-align: center">~ {{ humanize .Title }} ~</h1>
</div>
<div class="pure-g">
    {{ if (eq .RelPermalink "/tags/") }}
    <div class="pure-u-1" style="display:flex;">
        <div class="pad">
            <div style="text-align:center" class="tags">
                {{ range $.Site.Taxonomies.tags.ByCount }}
                <a href="/tags/{{ .Name }}" class="pure-button" style="font-size: {{math.Log (add 1 .Count) }}em;"> {{ .Name }}
                    <small>({{ .Count }})</small></a>
                {{end}}
            </div>
        </div>
    </div>
    {{ else }}
    {{ range .Data.Pages }}
    <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-2 pure-u-lg-1-3" style="display:flex">
        <div class="list">
            {{ if .Params.image }}
            <a href="{{ .Permalink }}" title="{{ .Title }}">
                <img src="/img/feature/{{ .Params.image }}" class="pure-img" alt="{{ .Title }}">
            </a>
            {{ end }}
            <time>{{ .Date.Format "Jan 2 2006" }}</time>
            <div class="pad">
                <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                <p>{{ .Description | markdownify }}</p>
            </div>
        </div>
    </div>
    {{ end }}
    {{ end }}
</div>

{{ end }}