<!DOCTYPE html>
{{- $htmlAttrs := printf "lang=%q" (partial "lang.html" .) }}
{{- with partial "color_scheme.html" . }}{{ $htmlAttrs = printf "%s data-theme=%q" $htmlAttrs . }}{{ end }}
<html {{ $htmlAttrs | safeHTMLAttr }}>
    {{- partial "header.html" . -}}
    <body>
        <div class="container">

            {{- partial "menu.html" . -}}

            <div class="pure-g">
                {{- block "main" . }}{{- end }}

                {{- if or .IsPage .IsHome }}
                {{- block "sidebar" . }}
                    {{- partial "sidebar.html" . -}}
                {{- end }}
                {{- end }}
            </div>

            {{- partial "footer.html" . -}}

        </div>
        {{- if ne site.Params.themeToggle false }}
        {{- with resources.Get "js/theme.js" | minify | fingerprint }}
        <script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous" defer></script>
        {{- end }}
        {{- end }}
        {{- with resources.Get "js/code.js" | minify | fingerprint }}
        <script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous" defer></script>
        {{- end }}
        {{- partial "custom_footer.html" . -}}
    </body>
</html>
