<!DOCTYPE html>
<html lang="{{ partial "lang.html" . }}">
    {{- partial "header.html" . -}}
    <body>
        <div class="container">

            {{- partial "menu.html" . -}}

            <div class="pure-g">
                {{- block "main" . }}{{- end }}

                {{- if or .IsPage .IsHome }}
                {{- block "sidebar" . }}
                    {{- partial "sidebar.html" . -}}
                {{- end }}
                {{- end }}
            </div>

            {{- partial "footer.html" . -}}

        </div>
        {{- partial "custom_footer.html" . -}}
    </body>
</html>
